<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ConnectionString" providerName="Npgsql" connectionString="Server=localhost;Port=5432;User Id=dexter;Password=wallawalla;Database=testProject;" />
    </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql"
      description=".Net Framework Data Provider for PostgreSQL"
      type="Npgsql.NpgsqlFactory, Npgsql"/>
    </DbProviderFactories>
  </system.data>
</configuration>