<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Dexter.Massive.Properties.Settings.ConnectionString" providerName="Npgsql"
            connectionString="Server=localhost;Port=5432;User Id=dexter;Password=wallawalla;Database=testProject" />
    </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <add name="PostgreSQL Data Provider" invariant="Npgsql"
      description=".Net Framework Data Provider for PostgreSQL"
      type="Npgsql.NpgsqlFactory, Npgsql, Version=4.0.0.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"/>
    </DbProviderFactories>
  </system.data>
</configuration>